<p>home works!</p>
<style>
    ul.nav{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }
    
    li.nav {
      float: left;
    }
    
    li a.nav {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li a:hover:not(.active) {
      background-color: #111;
    }
    
    .active {
      background-color: #04AA6D;
    }
</style>

<ul class ='nav'>
    <li class ='nav'><a class = "nav" [routerLink]="['/cart']">cart</a></li>
    <li class ='nav'><a class="nav-link waves-light nav" mdbWavesEffect [routerLink]="['/listing']">listing</a></li>
    <li class ='nav' ><a class="nav-link waves-light nav" mdbWavesEffect [routerLink]="['/register']">register</a></li>
</ul>

